<!DOCTYPE html>
<html lang="es">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pagina web</title>
</head>
<body>

    <div class="container">
        <div class="section">
            <button class="btn">json</button>
            <div id="content"></div>
            <script src="script.js"></script>
    
    <thead>
        <tr>
            <th>id</th>
            <th>nombre</th>
            <th>apellidos</th>
            <th>teléfono</th>
            <th>correo</th>
            <th>edad</th>
            <th>dirección</th>
            <th>bloque</th>
            <th>area</th>
            <th>valor-admin</th>
            <th>banco</th>
            <th>interés_mora</th>
        </tr>
    </thead>
    <tbody id="res">
        
    </tbody>
</div>
</div>
<img src="img/game.png" height="400" width="600"/>
</body>
</html>